@font-face {
    font-family: 'atarifull'; /*a name to be used later*/
    src: url('fonts/atarifull.ttf'); /*URL to font*/
 
}

@font-face {
    font-family: 'invaders'; /*a name to be used later*/
    src: url('fonts/invaders.ttf'); /*URL to font*/
    
}

@font-face {
    font-family: 'ca'; /*a name to be used later*/
    src: url('fonts/ca.ttf'); /*URL to font*/
}

body {
    overflow	: hidden;
    padding		: 0;
    margin		: 0;

    color		: #222;
    background-color: #BBB;
    font-family	: arial;
    font-size	: 100%;
}
#info .top_right {
    position	: absolute;
    top		: 0px;
    right       : 5%;
}

#info .top_left {
    position	: absolute;
    top		: 0px;
    left            : 5%;
}
#info {
    color		: #66F;
    text-decoration	: none;
}
#info a:hover {
    text-decoration	: underline;
}
#info .bottom {
    position	        : absolute;
    bottom		: 0px;
    right		: 5px;
    padding		: 5px;
}

#dialog {
    z-index: 5;
    width: 100%;
    background-color: #fff;
    visibility: hidden;
    position: absolute;
    bottom: 39px;
    bottom: 33%;
    min-height: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

#vertical-center{
    z-index: 5;
    background-color: #fff;
    visibility: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    font-size: 500%;
    text-align: center;
    display: table-cell;
    vertical-align: middle; 
}  
